[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
	branch = master
[submodule "vendor/std_module"]
	path = vendor/std_module
	url = https://github.com/YiRanMushroom/std_module
	branch = master
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/icaven/glm
	branch = master
[submodule "vendor/SPIRV-Cross"]
	path = vendor/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
	branch = main
[submodule "vendor/SPIRV-Tools"]
	path = vendor/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
	branch = main
[submodule "vendor/SPIRV-Headers"]
	path = vendor/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
	branch = main
[submodule "vendor/glslang"]
	path = vendor/glslang
	url = https://github.com/KhronosGroup/glslang
	branch = main
[submodule "vendor/shaderc"]
	path = vendor/shaderc
	url = https://github.com/YiRanMushroom/shaderc
	branch = main
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/ImGuizmo"]
	path = vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
	branch = master
[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
	branch = master
[submodule "vendor/freetype"]
	path = vendor/freetype
	url = https://github.com/freetype/freetype
	branch = master
[submodule "vendor/msdf-atlas-gen"]
	path = vendor/msdf-atlas-gen
	url = https://github.com/Obscurs/msdf-atlas-gen
	branch = main
[submodule "vendor/box2d"]
	path = vendor/box2d
	url = https://github.com/TheCherno/box2d
	branch = master
[submodule "vendor/sol2"]
	path = vendor/sol2
	url = https://github.com/ThePhD/sol2
	branch = main
[submodule "vendor/LuaJIT"]
	path = vendor/LuaJIT
	url = https://github.com/YiRanMushroom/LuaJIT
	branch = v2.1
