[submodule "std_module"]
	path = std_module
	url = https://github.com/YiRanMushroom/std_module
[submodule "glfw"]
	path = glfw
	url = https://github.com/YiRanMushroom/glfw
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
	branch = docking
