[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
	branch = master
[submodule "vendor/std_module"]
	path = vendor/std_module
	url = https://github.com/YiRanMushroom/std_module
	branch = master
